<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title>List of Polls</title>
  </head>
  <body>
    <div>
      <a href="/login">
        <button class="link">Login </button>
      </a>
      <a href="/">
        <button class="link">Home</button>  
      </a>
    </div>
    <h1>A List of Polls</h1>
    <div id="list">
      <div class="poll">
        <span class="name">Poll Name</span>
        <button class="link single" id="edit">Edit</button>
        <a href="/single">
          <button class="link single">View</button>
        </a>
      </div>
    </div>
  </body>
</html>
