<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title>List of Polls</title>
  </head>
  <body>
    <div>
      <a class="link" href="/login">Login</a>
      <a class="link" href="/">Home</a>
    </div>
    <h1>A List of Polls</h1>
    <ul id="list">
      <li class="poll">
        <h3>the Name of the Poll</h3>
        <span>the Front-Runner</span>
        <a class="link" href="/single">See Poll</a>
        <button>view/edit/delete</button>
      </li>
    </ul>
  </body>
</html>
