<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title>Strawpoll!</title>
  </head>
  <body>

    <div class="nav">
      <span>Strawpoll</span>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
      <a href="/new">New Poll</a>
      <a href="/mypolls">My Polls</a>
      <a href="/">Home</a>
    </div>

    <div class="meat">
      <h1>My Polls</h1>
      <div id="list">
        <% for(var i=0; i < polls.length; i++) {%>
        <div class="poll">
          <span class="name"><%= polls[i].title %></span>
          <a href=<%= "/single/" + polls[i]._id %> >
            <button class="link single">View</button>
            <form class="delete" method="POST" action=<%= "/delete/" + polls[i]._id %>>
              <button type="submit" class="link single" id="delete">Delete</button>
            </form>
          </a>
        </div>
        <% } %>
      </div>
    </div>

  </body>

</html>
