<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title>Strawpoll!</title>
  </head>
  <body>

    <div class="nav">
      <span>Strawpoll</span>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
      <a href="/new">New Poll</a>
      <a href="/mypolls">My Polls</a>
      <a href="/">Home</a>
    </div>

    <div class="meat">
      <h1>My Polls</h1>
      <div id="list">
        <div class="poll">
          <span class="name">Poll Name</span>
          <button class="link single" id="edit">Edit</button>
          <a href="/single">
            <button class="link single">View</button>
          </a>
        </div>
      </div>
    </div>

  </body>
</html>
