<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title>Name of the Poll</title>
  </head>
  <body>
  
    <div class="nav">
      <span>Strawpoll</span>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
      <a href="/new">New Poll</a>
      <a href="/mypolls">My Polls</a>
      <a href="/">Home</a>
    </div>

    <div class="meat">
      <h1>Create A Poll</h1>
      <form action="/post">
        <input name="" type="text" value="Name This Poll!"/>
        <h2>Choices</h2>
        <input name="" type="textarea" value="..."/></br>
        <input name="" type="textarea" value="..."/></br>
        <input name="" type="textarea" value="..."/></br>
        <input name="" type="textarea" value="..."/></br>
        <button>Add Another Option</button></br>
        <button>Submit</button>
      </form>
    </div>   

  </body>
</html>
