<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title>Name of the Poll</title>
  </head>
  <body>
  
    <div class="nav">
      <span>Strawpoll</span>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
      <a href="/new">New Poll</a>
      <a href="/mypolls">My Polls</a>
      <a href="/">Home</a>
    </div>

    <div class="meat">
      <h1>Create A Poll</h1>
      <form action="/new" method="POST">
        <input name="title" type="text" value="Name This Poll!"/>
        <div id="options">
          <h2>Choices</h2>
          <input name="options" type="textarea" value="..."/></br>
          <input name="options" type="textarea" value="..."/></br>
          <input name="options" type="textarea" value="..."/></br>
          <input name="options" type="textarea" value="..."/></br>
        </div>
        <button id="addOption">Add Another Option</button></br>
        <button>Submit</button>
      </form>
    </div>   

  </body>
  <script type="text/javascript">

   function addOption(e) {

     var newOption = document.createElement('input');
     newOption.setAttribute('name', 'options');   
     newOption.setAttribute('type', 'textarea');
     newOption.setAttribute('value', '...');

     var container = document.getElementById('options');
     container.appendChild(newOption);
     container.appendChild(document.createElement('br'));

     if (e.preventDefault) {
       e.preventDefault();
     } else {
       e.returnValue = false;
     } 

   }
   
   var button = document.getElementById('addOption');
   button.addEventListener('click', function(e) {
     addOption(e);
   }, false);

  </script>
</html>
