<!DOCTYPE html>
<html>

<head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="nav">
      <span>Strawpoll</span>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
      <a href="/new">New Poll</a>
      <a href="/mypolls">My Polls</a>
      <a href="/">Home</a>
    </div>

    <h1>Welcome <%= user%>! </h1>

</body>
</html>
