<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title>Name of the Poll</title>
  </head>
  <body>
    <a href="/login">
      <button class="link">Login</button>
    </a>
    <a href="/">
      <button class="link">Home</button>
    </a>
    <a href="/list">
      <button class="link">Polls</button>
    </a>
    <h1>Name of the Poll</h1>
    <div class="visualization">
    </div>
    <div class="listofoptions">
      <div class="option">
        <p class="option">Option</p>
        <button class="link option" class="vote">VOTE!</button>
      </div>
    </div>
    <div class="add">
      <form id="addoption" action="post">
        <input class="option" name="option" type="text" value="Write In?"/>
        <button type="submit" class="link option vote">VOTE!</button>
      </form>
    </div>
  </body>
</html>
