<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title>Name of the Poll</title>
  </head>
  <body>

    <div class="nav">
      <span>Strawpoll</span>
      <% if (user) { %>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <a href="/new">New Poll</a>
        <a href="/mypolls">My Polls</a>
      <% } else {  %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
     <% } %>
        <a href="/">Home</a>
    </div>

    <div class="meat">
      <h1>Name of the Poll</h1>
      <div class="visualization"></div>
      <div class="listofoptions">
        <div class="option">
          <p class="option">Option</p>
          <button class="link option" class="vote">VOTE!</button>
        </div>
        <% if (user) { %>
          <div class="add">
            <form id="addoption" action="post">
              <input class="option" name="option" type="text" value="Write In?"/>
              <button type="submit" class="link option vote">VOTE!</button>
            </form>
          </div>
        <% } %>
      </div>
    </div>

  </body>
</html>
