body {
    background-color: cornsilk;
}

.auth {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

a {
    text-decoration: none
}

.login {
    border: solid gray 2px;
    font-size: 1.6em;
    padding: 10px;
}

.inputs {
    width: 100%;
}

.login:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}

.login:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.submit, .link {
    border: solid gray 2px;
    font-size: 1em;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    height: 35px;
    width: 110px;
    margin: 10px auto 0px auto;
    cursor: pointer;
}

#github {
    display: inline-block;
    border: solid gray 2px;
    font-size: 1.4em;
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
    width: 140px;
    margin: 10px auto 0px auto;
    cursor: pointer;
}

#github>a {
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

.poll {
    background-color: lightblue;
    height: 60px;
    border-radius: 5px;
}

.single {
    float: right;
    margin: 12px 10px auto 0px;
}

.name {
    font-size: 1.4em;
}

.name, .option{
    display: inline-block;
    margin: 16px 0px 0px 20px;
}

.visualization {
    height: 500px;
    width: 500px;
    background-color: lightblue;
}

