body {
    background-color: cornsilk;
    margin: 0px;
}

/* NAV BAR */

.nav {
    background-color: white;
    max-width: 750px;
    margin: auto;
    border-radius: 0 0 5px 5px;
    padding: 15px 5px 10px 5px;
}

.nav>span {
    font-weight: bold;
    font-size: 1.6em;
    margin-left: 15px;
}

.nav>a {
    font-size: 1.4em;
    float: right;
    margin: 0px 5px 0px 10px;
}

/* MEAT AND POTATOES */

.meat {
    max-width: 750px;
    margin: auto;
    padding: 15px 5px 10px 5px;
}

.meat>h1 {
    text-align: center;
}

.visualization {
    height: 400px;
    width: 400px;
    background-color: lightblue;
    float: left;
}

.listofoptions {
    float: left;
}

/* SINGLE POLL VIEW */

.poll {
    background-color: lightblue;
    height: 60px;
    border-radius: 5px;
}

.single {
    float: right;
    margin: 12px 10px auto 0px;
}

.name {
    font-size: 1.4em;
}

.name, .option{
    display: inline-block;
    margin: 16px 0px 0px 20px;
}

/* LOGIN AND SIGNUP */

.auth {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.login {
    border: solid gray 2px;
    font-size: 1.6em;
    padding: 10px;
    width: 276px;
}

.login:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}

.login:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.submit {
    background-color: white;
    width: 300px;
}

.submit, #github {
    border: solid gray 2px;
    font-size: 1.4em;
    padding: 10px;
    margin: 10px auto 0px auto;
    border-radius: 5px;
    cursor: pointer;
}

#github {
    background-color: gray;
}

#github>img {
    vertical-align: middle;
    margin-left: 10px;
}

#github>a {
    color: black;
    text-decoration: none;
    margin-left: 12px;
    vertical-align: middle;
}

